<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250728969979-b05c7sun47gqiek1rtp65oaa7knlas36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250728969979-b05c7sun47gqiek1rtp65oaa7knlas36</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>250728969979-1003bfa255ems855bctfbd6tvt8956hg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ0rNzlddLwkOLNebohG29VvXO3znQyUE</string>
	<key>GCM_SENDER_ID</key>
	<string>250728969979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sixamtech.grofresh</string>
	<key>PROJECT_ID</key>
	<string>grofresh-3986f</string>
	<key>STORAGE_BUCKET</key>
	<string>grofresh-3986f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250728969979:ios:6927f997280725f975a25e</string>
</dict>
</plist>